<p id="notice"><%= notice %></p>

<div>
  <h1 class="masthead-subheading mb-0"><%= @topic.name %></h1>
</div>

<p>
  <strong>Semester:</strong>
  <%= @topic.semester %>
</p>

<div class="jcontainer">
  <h2 class="masthead-subheading mb-0">Profesores que imparten</h2>
  <ul>
    <% @topic.professors.each do |professor|%>
      <li>
        <%=link_to professor.name, professor%>
      </li>
    <%end%>
  </ul>
</div>

<div class="jcontainer" style="margin-top: 20%">
  <%= link_to 'Edit', edit_topic_path(@topic) %> |
  <%= link_to 'Back', topics_path %>
</div>