<p id="notice"><%= notice %></p>

<div>
  <h1 class="masthead-subheading mb-0"><%= @professor.name %></h1>
</div>

<div style="margin-top: 20px" class="two-div-container">
  <div class="one">
    <%= image_tag(@image, class:"img-fluid rounded-circle", size: 400 )%>
  </div>
  <div class="two">
    <p>
      <%= @textp %>
    </p>
  </div>
</div>

<div class="jcontainer">
  <h2 class="masthead-subheading mb-0">Clases que imparte</h2>
  <ul>
    <% @professor.topics.each do |topic|%>
      <li>
        <%=link_to topic.name, topic%>
      </li>
    <%end%>
  </ul>
</div>

<div class="field">
  <h3 class="masthead-subheading mb-0" style="margin-top: 5%">Reseñas</h3>
  <div class="reviews-container">
      <% @professor.reviews.each do |review|%>
        <div class="review-row">
            <div class="review-title">
              <p>Titulo: <%=review.title%></p>
            </div>
            <div class="review-score">
              <p>Calificación: <%=review.score%></p>
            </div>
            <div class="review-description">
              <p>Descripción: <%=review.description%></p>
            </div>
            <div class="review-author">
              <p>Autor: <%= review.user.email %></p>
            </div>
        </div>
      <%end%>
  </div>
  <%= render 'reviews/form' %>

</div>




<div class="jcontainer" style="margin-top: 20%">
  <%= link_to 'Edit', edit_professor_path(@professor) %> |
  <%= link_to 'Back', professors_path %>
</div>