<p id="notice"><%= notice %></p>

<div>
  <h1 class="masthead-subheading mb-0"><%= @professor.name %></h1>
</div>

<div style="margin-top: 20px" class="two-div-container">
  <div class="one">
    <%= image_tag('man1.jpg', class:"img-fluid rounded-circle", size: 400 )%>
  </div>
  <div class="two">
    <p>
      <%= @textp %>
    </p>
  </div>
</div>

<div class="jcontainer">
  <%= link_to 'Edit', edit_professor_path(@professor) %> |
  <%= link_to 'Back', professors_path %>
</div>

<ul>
  <% @professor.topics.each do |topic|%>
    <li>
      <%=link_to topic.name, topic%>
    </li>
  <%end%>
</ul>

<div class="field">
  <h3>Reseñas</h3>
  <%= render 'reviews/form' %>
  <ul>
    <% @professor.reviews.each do |review|%>
      <li>
        <%=review.description%>
      </li>
    <%end%>
  </ul>
</div>